@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
    height: 580px;
    transition: ease-in-out 0.3s;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 26px 24px 0 #04152d;
}

.image {
    margin-bottom: 25px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.description:hover {
    overflow: auto;
}

.skills {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.link {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    padding: 2px 22px;
    color: var(--color-light);
    background: black;
    border: 2px solid #6fa3ef;
    text-decoration: none;
    display: inline-block;
    align-self: center;
}

.link:hover {
    background: #6fa3ef;
    color: black;
    transition: 0.3s;
}